body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.container-shadow {
  width: 1200px;
  margin: 0px auto;
  box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}
.container-top {
  width: 1200px;
  height:570px;
  background-image: url("../img/index_background-welcome.jpg");
  background-position: 50% 0;

  background-size: cover;
  background-repeat: no-repeat;
}

.main-navigation {
  display: flex;
  height: 56px;
}

.site-navigation-left,
.site-navigation-right {
  display: flex;
  align-self: center;
  margin: 0;
  padding: 0;
}
.site-navigation-left {
  width: 341px;
  margin-left: 73px;
  margin-right: 118px;
}
.site-navigation-left li:first-child {
  margin-right: 147px;
}

.site-navigation-right {
  width: 328px;
  margin-left: 130px;
  margin-right: 73px;
}

.site-navigation-right li:first-child {
  margin-right: 162px;
}

/*
.main-navigation {
  display: flex;
  height: 56px;
}

.site-navigation-left,
.site-navigation-right {
  align-self: center;
  display: flex;
  width: 380px;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.site-navigation-left {
  margin-left: 70px;
  margin-right: 120px;
}


.site-navigation-right{
  margin-right: 70px;
  margin-left: 120px;
  background-color: red;
}
*/
.main-header-logo {
  order: 1;
}

.site-navigation-right {
  order: 2;
}



a {
  text-decoration: none;
}

.main-header a,
.main-footer a,
.reservation a {
  color: #000000;
}

.main-navigation {
  line-height: 26px;
  background-color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active,
.main-navigation a:active {
  color: #cacaca;
}

.site-navigation-left,
.site-navigation-right,
.social {
  list-style: none;
}

.welcome {
 margin-bottom: 55px;
}

.reason1 {
  display: flex;
  margin-bottom: 55px;
}

.reason2 {
  display: flex;
}

.text-sedona-number12 {
  margin-bottom: 20px;
}

.container-title-reasons {
  margin: 53px 300px 53px 275px;
}
.container-title-reasons .text-sedona {
  padding-top: 10px;
  margin-left: 20px;

}

.accomodation-list {
  padding: 0px;
  margin: 0px;
  display: flex;
  margin-bottom: 155px;
}

.accomodation-list-item1::before {
  content:"";
  background-image: url("../img/icon-1.svg");

}

.container-reasons-345 {
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;
  padding-top: 20px;
  padding-bottom: 57px;
}
.reason3 p,
.reason3 h3,
.reason4 p,
.reason4 h3,
.reason5 p,
.reason5 h3 {
  margin: 0px;
  padding: 0px;
}

.reason3 {
  width: 220px;
  margin-top: 24px;
  margin-left: 15px;
}

.reason3 h3 {
  margin-bottom: 21px;
}

.reason3 .text-sedona-number345,
.reason4 .text-sedona-number345,
.reason5 .text-sedona-number345 {
  margin-bottom: 25px;
}

.reason4 {
  width: 275px;
  margin-top: 24px;
  margin-left: 15px;
}

.reason4 h3 {
  margin-bottom: 21px;
}


.reason5 {
  width: 252px;
  margin-top: 24px;
}

.reason5 h3 {
  margin-bottom: 21px;
}

.title {
  font-size: 21px;
  line-height: 21px;
  color:black;
}

.title-sedona {
  font-size: 21px;
  line-height: 26px;
  color:black;
}

.text-sedona {
  font-weight: normal;
}

.text-sedona-white {
  font-weight: normal;
  color: white;
}

.title-reservation {
  font-size: 30px;
  line-height: 36px;
  color: black;
}

.title-reservation-container p {
 width: 444px;
 margin: 0 auto;
 margin-bottom: 55px;
}

.text-reservation {
  line-height: 24px;
  font-weight: normal;
}
.title.title-hotel {
  color: white;
  background-color:#766357;
}

.title.title-hotel:hover,
.title.title-hotel:focus {
  background-color: #604e43;
}

.title.title-hotel:active {
  color: #928a85;
  background-color: #503e33;
}

.text {
  font-size: 14px;
  line-height: 26px;
  font-weight:  normal;
  color:black;
}

.advantages p,
.advantages h3 {
text-align: center;
}

.accomodation-list {
  list-style:none;
}

.accomodation-list li {
  text-align: center;
}

.reservation h2,
.reservation h3,
.reservation p {
  text-align: center;
}
.button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: white;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.filters fieldset {
  border: none;
}

.button-filter {
  font-weight: normal;
  background-color:transparent;
  border: 2px solid #f2f2f2;
}

.button-filter:hover {
  color:black;
  background-color: #ffffff;
}

.button-blue{
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.button-brown {
  background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: #877d78;
  background-color: #503e33;
}

.button-main {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: white;
}

.button-main-blue {
  background-color:#81b3d2;
}

.button-main-blue:hover,
.button-main-blue:focus {
  outline: none;
  background-color: #669ec0 ;
}

.button-main-blue:active {
  outline: none;
  color: #94b9d2;
  background-color: #5496bd;
}

.reason1,
.reason2 {
  color: white;
  background-color: #81b3d2;
}

.reason1 h3,
.reason1 p,
.reason2 h3,
.reason2 p {
  color:white;
}

.reason1-picture {
  width: 800px;
  height: 258px;
  background-image: url("../img/index_background-reason1.jpg");
  background-size: contain;
}

.reason1-information {
  box-sizing: border-box;
  width: 400px;
  padding: 47px 60px 0px 60px;
}


.reason1-information h3 {
  margin: 0px;
  padding: 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 10px;
}

.reason2-information {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  padding: 47px 60px 0px 60px;
}

.reason2-information h3 {
  margin: 0px;
  padding: 0px;
  width: 152px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.text-sedona-number {
  padding-bottom: 5px;
}

.reason2-picture {
  width: 800px;
  height: 258px;
  background-image: url("../img/index_background-reason2.jpg");
  background-size: contain;
}

.title-reservation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 28px;
  text-align: center;
}

.title-hotel {
  width: 510px;
  margin: 0 auto;
  padding: 30px;
}

.map-area {
  width: 1200px;
  height: 594px;
  background-image: url("../img/index _backgroung-map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-area {
  padding: 0;
  margin: 0;
  width: 570px;
  height: 395px;
  background-color: white;
  margin: 0 auto;
}
.reservation-form {
  background-color:white;

}
.reservation {
  margin-bottom: 35px;
}

.reservation-form input {
  background-color: #f2f2f2;
}

.reservation-form input:hover
{
  background-color:#ebebeb;
}
.reservation-form input:focus {
  outline: none;
  background-color: white;
  border: 2px solid #e5e5e5;
}

.filters {
  background-color: #4377a2;
  background-image: url("../img/inner_background.jpg");
}

.filters legend {
  font-size: 16px;
  color:white;
}

.conditions-label {
  font-size: 14px;
  font-weight: normal;
  color:white;
}


.items-list {
  list-style: none;
}

.conditions-list {
  list-style: none;
}

.filters {
  height: 220px;
  /* высота задана временно*/
}

.filter {
  display: flex;
  justify-content: space-around;
}

.selected-hotels-title {
  height: 83px;
  /* высота задана временно*/
}

.items-list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  margin-top: 3px;
}
.hotel-item {
  border-top: 1px solid #e5e5e5;
}

.hotel-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-item {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 10px;
}

.hotel-item img {
  margin-left: 45px;
  padding: 25px;
}

.hotel-item:first-child .container-hotel-information {
  margin-right: 575px;
}

.hotel-item:nth-child(2) .container-hotel-information {
  margin-right: 592px;
}

.hotel-item:last-child .container-hotel-information {
  margin-right: 560px;
}

.container-hotel-information {
  height: 135px;
  padding-top: 0px;
}

.container-hotel-information h3 {
  margin: 0px;
  margin-top: 25px;
}

.hotel-item > p {
  /*margin-right: 75px;
  margin-bottom: 20px;*/
  margin:0px;
  margin-right: 75px;
  margin-bottom: 20px;
  padding: 3px 12px 3px 15px;
  align-self: flex-end;
}

.title-hotels:hover,
.title-hotels:focus {
  color: #81b3d2;
}

.title-hotels:active {
  color: #cacaca;
}

.hotel-price td {
  font-weight: normal;
}

.rating {
  color: #666666;
  font-weight: normal;
  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  padding-bottom: 40px;
  padding-top: 0px;
  justify-content: space-around;
  align-items: center;
}

.title-sedona {
  margin-left: 30px;
  margin-top: 5px;
}

.index-main-footer {
  margin-top: -158px;
  padding-top: 38px;
  background-color: rgb(255, 255, 255, 0.9);
}

.index-main-inner {
  padding-top: 28px;
}

.social {
  display: flex;
}

.footer-copyright {
  display: flex;
}

.developer {
  margin-right: 5px;
  padding-top: 13px;
}

.html-button {
margin-left: 3px;
margin-top: 5px;
}

.html-button:hover path {
   fill: #81b3d2;
}

.html-button:active path {
    fill: #bdbbbc;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
